.numberCircle {
  border-radius: 50%;
  flex: 1;
  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
}

.count-down {
  color: #333;
  text-align: center;
  background-color: #ffd54f;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.counter-container {
	/* basics */
	background-color: #444;
	color: #C4BE92;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;


	/* rounded corners */
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  padding: .8em .8em 1em;
  width: 8em;
	margin: 0 auto;
  -webkit-box-shadow: 0px 0px 12px 0px #000;
  box-shadow: 0px 0px 12px 0px #000;

}

button.counter {
	/* basics */
	color: #444;
	background-color: #B5B198;
	/* rounded corners */
    -webkit-border-radius: 6px;
          border-radius: 6px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	font-weight: bold;
  width: 30px;
}

button.counter:hover, button.counter:active, button.counter:focus {
	background-color: #CBC7AE;
}
